* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #dddddd;
}

header {
  background-color: #ffffff;
  overflow: auto;
}
.upperTab {
  padding: 10px;
  background-color: #4aaaa5;
  float: left;
}
section {
  width: 960px;
  margin: 0 auto;
  clear: left;
  background-color: #ffffff;
  margin-top: 10px;
}

.header-content {
  width: 960px;
  margin: 0 auto;
}
section p {
  margin-left: 15px;
  margin-right: 15px;
}
nav {
  float: right;
  margin-top: 20px;
}

li {
  display: inline;
  column-rule-style: solid;
}

footer {
  text-align: center;
  background-color: #666666;
  padding-top: 20px;
  border-top: 8px solid #4aaaa5;
}
.about {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

img {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
.sidebar {
  border-right: 1px solid #dddddd;
  padding-right: 15px;
  margin-right: 15px;
}
